<!DOCTYPE html>
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
<!--    <meta name="_csrf" th:content="${_csrf.token}"/>-->
<!--    &lt;!&ndash; default header name is X-CSRF-TOKEN &ndash;&gt;-->
<!--    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>-->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
    <title>课件上载-现代教学管理系统-管理员</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
          name='viewport'/>
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link rel="stylesheet" th:href="@{/assets/css/ready.css}">
    <link rel="stylesheet" th:href="@{/assets/css/demo.css}">
</head>
<body>
<script>
    function buttonsearch() {
        var temp = document.getElementById("propertyselect").value;
        var target = "/admin/coursefile?property=" + temp;
        window.location.href = target;
    }
</script>
<div class="wrapper">
    <div class="main-header">
        <div class="logo-header">
            <a class="logo" href="/admin/index">
                现代教学管理系统
            </a>
            <button aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler sidenav-toggler ml-auto" data-target="collapse" data-toggle="collapse"
                    type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

    </div>
    <div class="sidebar">
        <div class="scrollbar-inner sidebar-wrapper">
            <div class="user">
                <div class="photo">
                    <img src="/assets/img/profile.jpg">
                </div>
                <div class="info">
                    <a aria-expanded="true" class="" data-toggle="collapse" href="#collapseExample">
								<span>
									<span th:text="${user}"></span>
									<span class="user-level">
										<span>管理员</span>
									</span>
									<span class="caret"></span>
								</span>
                    </a>
                    <div class="clearfix"></div>

                    <div aria-expanded="true" class="collapse in" id="collapseExample" style="">
                        <ul class="nav">
                            <li>
                                <a href="/admin/myprofile">
                                    <span class="link-collapse">个人信息</span>
                                </a>
                            </li>

                            <li>
                                <a href="/admin/editprofile">
                                    <span class="link-collapse">修改信息</span>
                                </a>
                            </li>

                            <li>
                                <a href="/admin/usermanage">
                                    <span class="link-collapse">学生管理</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <ul class="nav">
                <li class="nav-item">
                    <a href="/admin/coursemanage">
                        <i class="la la-dashboard"></i>
                        <p>课程管理</p>
                    </a>
                </li>
                <li class="nav-item active">
                    <a href="/admin/coursefile?property=all">
                        <i class="la la-cloud"></i>
                        <p>课件上载</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/assignment?property=all">
                        <i class="la la-keyboard-o"></i>
                        <p>作业下发</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/readassignment">
                        <i class="la la-th"></i>
                        <p>作业批改</p>
                    </a>
                </li>
                <a class="nav-item update-pro" href="/logout">
                    <button data-target="/logout" data-toggle="modal">
                        <i class="la la-hand-pointer-o"></i>
                        <p>登出</p>
                    </button>
                </a>
            </ul>
        </div>
    </div>
    <div class="main-panel">
        <div class="content">
            <div class="container-fluid">
                <h4 class="page-title">课件列表</h4>
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="form-group">
                                <label for="propertyselect"></label>
                                <select class="form-control input-pill" id="propertyselect">
                                    <option>all</option>
                                    <option th:each="course:${courses}" th:text="${course.getCoursename()}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="card-body">
                            <table class="table table-hover" id="table-coursefile">
                                <thead>
                                <tr>
                                    <th class="col">课件名</th>
                                    <th class="col">课件号</th>
                                    <th class="col">课件归属</th>
                                    <th class="col">下载</th>
                                </tr>
                                </thead>
                                <tbody id="tablebody">
                                <tr th:each="cfile:${cfiles}">
                                    <td th:text="${cfile.getCfilename()}"></td>
                                    <td th:text="${cfile.getCfileid()}"></td>
                                    <td th:text="${cfile.getCfileproperty()}"></td>
                                    <td><a class="btn btn-round btn-success" th:href="${cfile.getCfilepath()}">下载</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="card-action">
                            <button class="btn btn-primary btn-lg btn-round" id="searchbtn" onclick="buttonsearch()">
                                检索
                            </button>
                            <button class="btn btn-lg btn-success btn-round" id="addbtn" onclick="addcfile()">上传
                            </button>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <footer class="footer">
            <div class="container-fluid">
                <span>友情链接: </span>
                <nav class="pull-left">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="http://www.zstu.edu.cn">
                                浙江理工大学
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="http://sci.zstu.edu.cn/">
                                浙江理工大学-理学院
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright ml-auto">
                    2019, <a href="https://www.github.com/MijazzChan">MijazzChan</a>,2017326603075, <a
                        href="mailto:mijazzchen@gmail.com">MailMe</a>.
                </div>
            </div>
        </footer>
    </div>
</div>
</div>
<input hidden="hidden" id="cfile" onchange="ajaxgo()" type="file">
</body>
<script th:src="@{/assets/js/core/jquery.3.2.1.min.js}"></script>
<script th:src="@{/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js}"></script>
<script th:src="@{/assets/js/core/popper.min.js}"></script>
<script th:src="@{/assets/js/core/bootstrap.min.js}"></script>
<script th:src="@{/assets/js/plugin/chartist/chartist.min.js}"></script>
<script th:src="@{/assets/js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js}"></script>
<!--script th:src="@{/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js}"></script>
<script th:src="@{/assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js}"></script>
<!-->
<script th:src="@{/assets/js/plugin/jquery-mapael/jquery.mapael.min.js}"></script>
<script th:src="@{/assets/js/plugin/jquery-mapael/maps/world_countries.min.js}"></script>
<script th:src="@{/assets/js/plugin/chart-circle/circles.min.js}"></script>
<script th:src="@{/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js}"></script>
<script th:src="@{/assets/js/ready.min.js}"></script>
<script th:src="@{/assets/js/demo.js}"></script>
<script type="text/javascript">
    // var token = $("meta[name='_csrf']").attr("content");
    // var header = $("meta[name='_csrf_header']").attr("content");
    // $(document).ajaxSend(function (e, xhr, options) {
    //     xhr.setRequestHeader(header, token);
    // });
    var flag = false;

    function addcfile() {
        if (flag == true) {
            return;
        }
        var tr = document.createElement("tr");
        var td1 = document.createElement("td");
        var td2 = document.createElement("td");
        var td3 = document.createElement("td");
        var td4 = document.createElement("td");
        var input1 = document.createElement("input");
        var input2 = document.createElement("input");
        var input3 = document.createElement("input");
        var btn = document.createElement("button");
        input1.setAttribute("type", "text");
        input1.setAttribute("class", "form-control input-pill");
        input1.setAttribute("id", "cfilenameinput");
        input1.setAttribute("placeholder", "课件名");
        input2.setAttribute("type", "text");
        input2.setAttribute("class", "form-control input-pill");
        input2.setAttribute("id", "cfileidinput");
        input2.setAttribute("placeholder", "id");
        input3.setAttribute("type", "text");
        input3.setAttribute("class", "form-control input-pill");
        input3.setAttribute("id", "cfilepropertyinput");
        input3.setAttribute("placeholder", "property");
        btn.setAttribute("class", "btn btn-round btn-info");
        btn.setAttribute("onclick", "selectfile()");
        btn.innerHTML = "选择文件";
        td1.appendChild(input1);
        td2.appendChild(input2);
        td3.appendChild(input3);
        td4.appendChild(btn);
        tr.appendChild(td1);
        tr.appendChild(td2);
        tr.appendChild(td3);
        tr.appendChild(td4);
        document.getElementById("table-coursefile").appendChild(tr);
        flag = true;
    }

    function selectfile() {
        $("#cfile").click();
    }

    function ajaxgo() {
        var file = document.getElementById("cfile").files[0];
        var cfilename = $("#cfilenameinput").val().toString();
        var cfileproperty = $("#cfilepropertyinput").val().toString();
        if (cfilename == null || cfileproperty == null){
            alert("请填写文件名与归属");
            document.getElementById("cfile").files = null;
            return;
        }
        if (cfilename.length == 0 || cfileproperty.length == 0) {
            document.getElementById("cfile").files = null;
            alert("非法请求");
            return;
        }
        var form = new FormData();
        form.append("cfilename", cfilename);
        form.append("cfileproperty", cfileproperty);
        form.append("file", file);
        $.ajax("/admin/coursefile", {
            dataType: "text",
            type: "post",
            data: form,
            async: true,
            contentType: false,
            processData: false,
            success: function (data) {
                alert(data);
                window.location.href = "/admin/coursefile?property=all";
            },
            error: function () {
                alert("服务器错误");
            }
        });
    }

</script>
</html>