<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>教学管理系统入口</title>

    <link rel="stylesheet" th:href="@{/assets/font-awesome-4.7.0/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/index_style.css}">
</head>
<body th:background="@{/assets/img/bg.jpg}">
<script>
    function onclickLogin() {
        var loginname = $("#loginname");
        var password = $("#password");
        var msg = "";
        if (loginname.val() == "") {
            msg = "登录名称不能为空!";
            loginname.focus();
        } else if (password.val() == "") {
            msg = "密码不能为空!";
            password.focus();
        }
        if (msg != "") {
            alert(msg);
            return false;
        } else {
            $("#loginForm").submit();
        }
    }
</script>
<div class="materialContainer">
    <form id="loginForm" method="post" th:action="@{/login}">
        <div class="box">
            <div class="title">教学管理系统</div>
            <div class="input">
                <label for="loginname">用户名/UserID</label>
                <input id="loginname" name="loginname" type="text">
                <span class="spin"></span>
            </div>
            <div class="input">
                <label for="password">密码/Passcode</label>
                <input id="password" name="password" type="password">
                <span class="spin"></span>
            </div>
            <div class="button login">
                <button onclick="onclickLogin()">
                    <span>登录</span>
                    <i class="fa fa-check"></i>
                </button>
            </div>
            <div th:if="${param.logout != null}">
                <div class="returnmessage">注销成功</div>
            </div>
            <div th:if="${param.error != null}">
                <div class="returnmessage">用户名密码不匹配</div>
            </div>
        </div>
    </form>

    <!-- div class="overbox">
        <div class="material-button alt-2">
            <span class="shape"></span>
        </div>
        <div class="title">注册/Register</div>
        <div class="input">
            <label for="regname">用户名/UserID</label>
            <input id="regname" name="regname" type="text">
            <span class="spin"></span>
        </div>
        <div class="input">
            <label for="regpass">密码/Passcode</label>
            <input id="regpass" name="regpass" type="password">
            <span class="spin"></span>
        </div>
        <div class="input">
            <label for="reregpass">确认密码/Re-enter Passcode</label>
            <input id="reregpass" name="reregpass" type="password">
            <span class="spin"></span>
        </div>
        <div class="button">
            <button onclick="alert('功能未上线')">
                <span>注册</span>
            </button>
        </div>
    </div-->

</div>

<script th:src="@{/assets/js/jquery.min.js}"></script>
<script th:src="@{/assets/js/index.js}"></script>
</form>
</body>
</html>
