<!DOCTYPE html>
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
<!--    <meta name="_csrf" th:content="${_csrf.token}"/>-->
<!--    &lt;!&ndash; default header name is X-CSRF-TOKEN &ndash;&gt;-->
<!--    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>-->
    <title>我的作业-现代教学管理系统</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
          name='viewport'/>
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link rel="stylesheet" th:href="@{/assets/css/ready.css}">
    <link rel="stylesheet" th:href="@{/assets/css/demo.css}">
</head>
<body>
<script>
    function buttonsearch() {
        var temp = document.getElementById("propertyselect").value;
        var target = "/home/assignment?property=" + temp;
        window.location.href = target;
    }
</script>
<div class="wrapper">
    <div class="main-header">
        <div class="logo-header">
            <a class="logo" href="/home/index">
                现代教学管理系统
            </a>
            <button aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler sidenav-toggler ml-auto" data-target="collapse" data-toggle="collapse"
                    type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

    </div>
    <div class="sidebar">
        <div class="scrollbar-inner sidebar-wrapper">
            <div class="user">
                <div class="photo">
                    <img src="/assets/img/profile.jpg">
                </div>
                <div class="info">
                    <a aria-expanded="true" class="" data-toggle="collapse" href="#collapseExample">
								<span>
									<span th:text="${user}"></span>
									<span class="user-level">
										<span>学生</span>
									</span>
									<span class="caret"></span>
								</span>
                    </a>
                    <div class="clearfix"></div>

                    <div aria-expanded="true" class="collapse in" id="collapseExample" style="">
                        <ul class="nav">
                            <li>
                                <a href="/home/myprofile">
                                    <span class="link-collapse">个人信息</span>
                                </a>
                            </li>

                            <li>
                                <a href="/home/editprofile">
                                    <span class="link-collapse">修改信息</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <ul class="nav">
                <li class="nav-item">
                    <a href="/home/index">
                        <i class="la la-dashboard"></i>
                        <p>课程表</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/home/coursefile?property=all">
                        <i class="la la-cloud"></i>
                        <p>课件下载</p>
                    </a>
                </li>
                <li class="nav-item active">
                    <a href="/home/assignment?property=all">
                        <i class="la la-keyboard-o"></i>
                        <p>作业</p>
                    </a>
                </li>

                <a class="nav-item update-pro" href="/logout">
                    <button data-target="/logout" data-toggle="modal">
                        <i class="la la-hand-pointer-o"></i>
                        <p>登出</p>
                    </button>
                </a>
            </ul>
        </div>
    </div>
    <div class="main-panel">
        <div class="content">
            <div class="container-fluid">
                <h4 class="page-title">作业列表</h4>
                <select class="form-control input-pill" id="propertyselect">
                    <option>all</option>
                    <option th:each="course:${courses}" th:text="${course.getCoursename()}"></option>
                </select>
                <div class="row">
                    <div class="col-md-12" id="Unit">
                        <div class="card" th:each="unit:${assignments}">
                            <div class="card-header">
                                <h4 class="card-title" th:text="${unit.getAstitle()}"></h4>
                                <p class="card-category" th:text="${unit.getAsproperty()}"></p>
                            </div>
                            <div class="card-action">
                                <a class="btn btn-default btn-round" th:href="${unit.getAsdetail()}">作业描述</a>
                                <input class="btn btn-info btn-round" onchange="uploadAssignment(this)"
                                       th:id="${unit.getId()}"
                                       type="file">作业上传</input>
                                <button class="btn btn-success" th:text="${unit.getAsdate()}"></button>
                                <button class="btn btn-danger" th:text="${unit.getAsdeadline()}"></button>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary btn-lg btn-round" id="buttonsearch" onclick="buttonsearch()">检索</button>
            </div>
        </div>

    </div>
    <footer class="footer">
        <div class="container-fluid">
            <span>友情链接: </span>
            <nav class="pull-left">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="http://www.zstu.edu.cn">
                            浙江理工大学
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://sci.zstu.edu.cn/">
                            浙江理工大学-理学院
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright ml-auto">
                2019, <a href="https://www.github.com/MijazzChan">MijazzChan</a>,2017326603075, <a
                    href="mailto:mijazzchen@gmail.com">MailMe</a>.
            </div>
        </div>
    </footer>
</div>
</div>
</div>

</body>
<script th:src="@{/assets/js/core/jquery.3.2.1.min.js}"></script>
<script th:src="@{/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js}"></script>
<script th:src="@{/assets/js/core/popper.min.js}"></script>
<script th:src="@{/assets/js/core/bootstrap.min.js}"></script>
<script th:src="@{/assets/js/plugin/chartist/chartist.min.js}"></script>
<script th:src="@{/assets/js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js}"></script>
<!--script th:src="@{/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js}"></script>
<script th:src="@{/assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js}"></script>
<!-->
<script th:src="@{/assets/js/plugin/jquery-mapael/jquery.mapael.min.js}"></script>
<script th:src="@{/assets/js/plugin/jquery-mapael/maps/world_countries.min.js}"></script>
<script th:src="@{/assets/js/plugin/chart-circle/circles.min.js}"></script>
<script th:src="@{/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js}"></script>
<script th:src="@{/assets/js/ready.min.js}"></script>
<script th:src="@{/assets/js/demo.js}"></script>
<script type="text/javascript">
    // var token = $("meta[name='_csrf']").attr("content");
    // var header = $("meta[name='_csrf_header']").attr("content");
    // $(document).ajaxSend(function (e, xhr, options) {
    //     xhr.setRequestHeader(header, token);
    // });

    function uploadAssignment(btn) {
        var id = btn.id;
        console.log(id);
        var file = document.getElementById(id.toString()).files[0];
        var form = new FormData();
        form.append("id", id);
        form.append("file", file);
        $.ajax("/home/assignment", {
            dataType: "text",
            type: "post",
            data: form,
            async: true,
            contentType: false,
            processData: false,
            success: function (data) {
                alert(data);
            },
            error: function () {
                alert("服务器错误");
            }
        })
    }
</script>
</html>